/* =================== Allgemeine Einstellungen =================== */

body 
{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: #E0E0E0;

}

#logo
{
    display: block;
    width: 270px;
    height: 125px;
    margin: auto;
}

.clear 
{
    clear: both;   
    height: 0;
}

/* =================== Navigation =================== */

nav 
{
    margin: 0 auto;
}

/* ===== Hauptnavigation ===== */
ul
{
    list-style: none;
    text-align: center;
}

ul li 
{
    display: inline-block;
    width: 120px;
    position: relative;
    margin-right: -4.4px;
    padding: 0;
    background-color: #FAFAFA;
    transition: all 0.2s ease-out;
}

ul li a
{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    color: #424242;
}


ul li:hover 
{
    background-color: #424242;

}

ul li:hover a
{
    color: #fff;
}

ul li .line {
    /*display: inline;*/
    width: 1px;
    height: 60%;
    position: absolute;
    background-color: #424242;
    top: 20%;
}

/* ===== Subnavigation ===== */
ul li ul 
{
    padding: 0;
    position: absolute;
    top:100%;
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

ul li ul li 
{    
    display: block; 
    background-color: #424242; 
    text-align: left;
}

ul li ul li a
{
    color: #FAFAFA;
}

ul li ul li:hover 
{ 
    background-color: #616161; 
}

ul li:hover ul 
{
    opacity: 1;
    display: block;
}