/* =================== Allgemeine Einstellungen =================== */

body 
{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: #E0E0E0;

}

clear 
{
    clear: both; 
    height: 0;
}

/* =================== Main navigation =================== */

nav 
{
    margin: 0 auto;
}
.flex_container_mainmenue
{
    list-style: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex_item_mainmenue, .flex_item_submenue
{
    height: 49px;
    width: 120px;
    position: relative;
    padding: 0;
    background-color: #FAFAFA;
    transition: all 0.2s ease-out;
    
}

.mainmenue_link
{
    display: block;
    margin-top: 16px;
    text-decoration: none;
    text-align: center;
    color: #424242;
}


.flex_item_mainmenue:hover 
{
    background-color: #424242;

}

.flex_item_mainmenue:hover .mainmenue_link
{
    color: #fff;
}

.line {
    width: 1px;
    height: 60%;
    position: absolute;
    background-color: #424242;
    top: 20%;
}

/* ===== Subnavigation ===== */

.flex_container_submenue
{
    list-style: none;
    display: -webkit-flex;
    display: flex;
    width: 120px;
    flex-direction: column;
    padding: 0;
    position: absolute;
    top:100%;
/*    display: none;*/
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.flex_item_submenue
{
    background-color: #424242;   
}

.submenue_link
{
    text-align: center;
    display: block;
    text-decoration: none;
    height: 49px;
    padding-top: 16px;
    color: #FFF;
}

.flex_item_submenue .submenue_link:hover
{ 
    background-color: #616161; 
}

ul li:hover ul 
{
    opacity: 1;
    display: block;
}