/* =================== Allgemeine Einstellungen =================== */

*
{
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Cinzel', serif;    
    overflow-y: auto;
    overflow-x: hidden;
}

.background::after {
    content: "";
    background: url(../img/background.jpg) no-repeat top left fixed;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.wrapper
{
    opacity: 1.0;
    background-color: #837676;
    box-shadow: 15px 15px 16px 0px rgba(0,0,0,0.6);
}


/* =================== Content Bereich =================== */
main
{
    font-family: BechNine, sans-serif;
    color: #8E8E8E;
    background-color: #FFFFFF;
    margin-top: 25px;
    padding: 15px;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.6);
    
}

.link {
    text-decoration: none;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
    color: #fff;
    background-color: #303030;
}

.link:hover {
    background-color: #515151;
}
